
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
html {
  scroll-behavior: smooth;
}

.section1 {
  height: 900px;
  /* margin-top: -900px */
  /* padding-top: 300px; */

}

.section2 {
  height: 800px;
  /* margin-top: -200px; */

}


.profile__blurb {
  text-align: left;
  font-size: 1rem;
  line-height: 1.8;
  width: 30vw;
  margin-left: 100px;
  margin-right: auto;
}

.content {
  margin-top: 1525px;
}

.picture-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  
}

.picture-box-container > * {
  margin: 10px;
  width: 150px;
  height: 150px;
} 

@media only screen and (max-width: 768px) {
  .picture-box-container {
    flex-wrap: wrap;
    margin-left: 0;
  }
  
  .picture-box {
    width: 150px;
    height: 150px;
    margin: 10px;
  }
}


.about__heading:before {
  position: absolute;
  content: '';
  border-bottom: 12px solid #009999;
  width: 7rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 2.6rem;
  top: 3.1rem;
  z-index: -1;
}

.project__heading:before {
  position: absolute;
  content: '';
  border-bottom: 12px solid #009999;
  width: 12rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 1.6rem;
  top: 3.1rem;
  z-index: -1;
}


.neuroclassify__heading:before {
  position: absolute;
  content: '';
  border-bottom: 12px solid #009999;
  width: 11rem;
  display: block;
  margin: 0 auto;
  position: relative;
  left: -13.0rem;
  top: 1.8rem;
  z-index: -1;
}

.section2-heading {
  margin-top: 6rem;
  font-size: 3rem;
}

@media (max-width: 1200px)
.section-heading {
  margin-bottom: 10rem;
}
.section-heading {
  position: relative;
  font-size: 5.5rem;
  font-weight: 700;
  margin-top: 9rem;
  margin-bottom: 13rem;
  z-index: 9999;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* .projectbox {
  max-width: calc(34em - 2rem);

  padding: 2rem;
  border: 5px solid #009999;
  border-radius: 16px;
  font-size: 1.3rem;
  margin-bottom: 5rem;
  }

.left-align-project{
  margin-left: 0;
}

.right-align-project{
  margin-right: 0;

} */


.projectbox {
  width: calc(50rem - 2rem);
  padding: 2rem;
  border: 5px solid #009999;
  border-radius: 16px;
  font-size: 1.3rem;
  margin-bottom: 5rem;
}
.projectbox h3 {
  text-align: left;
  margin: 0.1rem 0;
}
.left-align-project {
  margint-left: 50rem;
  margin-right: 2rem;
  width: 45rem;
  float: left;
}

.check-shift{
  margin-left:2rem;
}


.right-align-project {
  margin-left: 2rem;
  width: calc(50% - 2rem);
  float: right;
}

.project-description-align{
  text-align: left;

}

.project_img {
  border-radius: 5%;
  padding-top: 18px;
}

