
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}
html {
  scroll-behavior: smooth;
}

.section1 {
  height: 1000px;
  padding-top: 300px;

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}