.bar {
    margin: 0 auto;
    position: relative;
    left: -50px;
    top: 11;
    width: 120%;
    height: 40px; /* adjust as needed */
    background-color: #009999; /* bar color */
    z-index: -1;

  }