.menu-bar {
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu-bar li {
    margin: 0 10px;
  }
  
  .menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 20px 0;
    display: flex;
  }

  .menu-bar li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
    transition: text-shadow 0.2s ease-in-out;
  }
  
  .menu-bar li a:hover {
    text-shadow: 0 0 8px white;
    font-weight: bold;
  }