


$colors: (
  slide: #ffffff, 
);


@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
    --slide-distance: 100em;
    --slide-duration: 0.3s;
    --fill-duration: 0.4s;
    color: var(--color);
    position: relative;
    overflow: hidden;
    transition: color var(--fill-duration) ease-in-out, background-color var(--fill-duration) ease-in-out;
    background-color: transparent;
    border: 10px solid white; /* Add a white border with a width of 2px */
    font: inherit;
    line-height: 1;
    width: 200px;
    margin: 0.5em;
    padding: 1em 2em;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: var(--hover);
      transition: width var(--slide-duration) ease-in-out;
      z-index: -1;
    }

    &:hover:before {
    //   width: var(--slide-distance);
      width: 1em; // Decrease the width of the sliding bar to 30%

    }

    &:hover {
      color: rgb(0, 0, 0);
      background-color: var(--hover);

    }
  }
}

.centered-div {
    display: flex;
    justify-content: center;
  }

  .my-div {
    // margin-left: 700px;
    // margin-right: 20px;
    margin: 0 auto;
  }